.container{
    margin: 0 auto;
    margin-top: 2%;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 7%;
}

nav{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}
.links {
    display: flex;
    height: 22px;
    justify-content: flex-start;
    border-bottom: 0px solid transparent;
    transition: border-bottom 0.5s ease-in;
    margin-bottom: 3%;
}

.links a{
    margin-right: 20px;
    text-decoration: none;
    color: #8a8a8a;
    transition: color 0.5s ease-in;
}
.links :nth-child(1):hover{
    border-bottom: 2px solid black;
}
.links :nth-child(2):hover{
    border-bottom: 2px solid black;
}
.links a:hover{
    color: black;
}

.two-column-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-img-wrapper img{
    width: 99%;
}

.profile-content-wrapper h1{
    color: lightseagreen;
    font-size: 16px;
    font-weight: 600;
}

.profile-content-wrapper {
  padding: 30px;
}

.profile-content-wrapper p{
    font-size: 16px;
  }