html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container{
    margin: 0 auto;
    margin-top: 2%;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 7%;
}

nav{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}
.links {
    display: flex;
    height: 22px;
    justify-content: flex-start;
    border-bottom: 0px solid transparent;
    transition: border-bottom 0.5s ease-in;
    margin-bottom: 3%;
}

.links a{
    margin-right: 20px;
    text-decoration: none;
    color: #8a8a8a;
    transition: color 0.5s ease-in;
}
.links :nth-child(1):hover{
    border-bottom: 2px solid black;
}
.links :nth-child(2):hover{
    border-bottom: 2px solid black;
}
.links a:hover{
    color: black;
}

/* portfolio styles */
.portfolio-items-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrap{
    position: relative;
}

.portfolio-img-background{
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    /* padding-right: 0px;
    padding-left: 10px; */
    cursor: pointer;
}

.logo-wrapper img{
    margin-bottom: 20px;
    width: 90px;
}

.img-text-wrapper .subtitle{
    transition: 1s;
    font-weight: 600;
    color: transparent;
    padding: 0 10px

}

.img-text-wrapper:hover .subtitle{
    font-weight: 300;
    color: lightseagreen;
}

.img-darken{
    transition: 1s;
    filter: brightness(10%);
}